.register-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.register-container h3 {
  color: #ffb001;
  font-weight: bold;
}

.register-container input {
  display: block;
  width: 300px;
}
.register-container textarea {
  display: block;
  width: 300px;
}
