.register-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.register-container h3 {
  color: #ffb001;
  font-weight: bold;
}

.register-container input {
  display: block;
  width: 300px;
}
.register-container textarea {
  display: block;
  width: 300px;
}

/* responsive for mobile size 360 */
@media only screen and (max-width: 360px) {
  .register-container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .register-container input {
    width: 290px;
  }
  .register-container textarea {
    display: block;
    width: 290px;
  }
  .register-container img {
    width: 350px;
  }
}
