.inventory-container h2 {
  color: #ffb001;
  font-weight: bold;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* responsive for mobile */
@media only screen and (max-width: 360px) {
  .items-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
